@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300;400;600;700&display=swap');

$mono: 'Overpass Mono', monospace;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-evenly;
    margin: 2em 0;
    font-family: $mono;
}

.flex-items {
    display: flex;
    justify-content: center;
    &__item {
        max-width: 100%;
        margin: 2em;
        p {
            text-align: justify;
        }
        padding: 20px;
        
    }
}

.one {
    flex-grow: 2;
}

.container-- {
    // margin: 0 5em;
    font-family: $mono;
}

.container {
    margin: 5em auto;
    text-align: center;
    font-family: $mono;
    p {
        font-size: 1.5em;
        sup {
            font-size: 20px;
        }
    }
}

#heading {
    font-size: 5em;
}