@import url("https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300;400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 2em 0;
  font-family: "Overpass Mono", monospace;
}

.flex-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-items__item {
  max-width: 100%;
  margin: 2em;
  padding: 20px;
}

.flex-items__item p {
  text-align: justify;
}

.one {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.container-- {
  font-family: "Overpass Mono", monospace;
}

.container {
  margin: 5em auto;
  text-align: center;
  font-family: "Overpass Mono", monospace;
}

.container p {
  font-size: 1.5em;
}

.container p sup {
  font-size: 20px;
}

#heading {
  font-size: 5em;
}
/*# sourceMappingURL=main.css.map */